<span class="title-info"><img src="{{flags.svg}}" alt="flag" width="60" height="60">{{name.common}}</span>
<p class="country-info-text">Capital: <span class="country-info-text_decor">{{capital}}</span> </p>
<p class="country-info-text">Population: <span class="country-info-text_decor">{{population}}</span> </p>
<p class="country-info-text">Languages: <span class="country-info-text_decor">{{languages}}</span> </p>
